<!-- <title>Edit <%= farm.name %>_-Products</title> -->

<% layout('layouts/boilerplate') %>

<nav>
      <div class="logo">
            <h1>My <span>Farm</span></h1>
      </div>
      <div class="links">
            <ol>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/farms" id="activeLink">Farms</a></li>
                  <li><a href="/products">All Products</a></li>
            </ol>
      </div>
</nav>

<div class="formContainer">
    <h1>Edit "<%= farm.name %>"</h1>
    <form action="/farms/<%=farm._id%>?_method=PUT" method="POST" id="formSubmit">
        <p>
              <label for="farmName">Farm Name</label><br>
              <input type="text" placeholder="name of your farm" id="farmName" name="name" value="<%= farm.name %>">
        </p>
        <p>
              <label for="location">Farm Location</label><br>
              <input type="text" name="location" id="location" placeholder="enter the location of your farm" value="<%= farm.location%>">
        </p>
        <p>
              <label for="email">Email</label><br>
              <input type="email" name="email" id="email" placeholder="enter your email address" value="<%= farm.email %>">
        </p>
        <p>
              <label for="description">Description</label><br>
              <textarea name="description" id="description" cols="30" rows="10" placeholder="write a short note about the farm you want to create"><%= farm.description %></textarea>
        </p>
        <button type="submit">Edit</button>
        <a href="/farms/<%= farm._id %>" id="backLink"><<-Back to farm</a>
    </form>
</div>

