<title><%= farm.name %> Info_-Farm_-My Farm</title>
<% layout('layouts/boilerplate') %>
<div class="promptMsg">
      <div class="container">
                  <button id="declineBtn">x</button>
            <h1>Are you sure you want to Delete<p> "<%= farm.name %>" ?</p></h1>
            <form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
                  <button id="deleteBtn">Delete</button>
            </form>
      </div>
</div>
<nav>
      <div class="logo">
            <h1>My <span>Farm</span></h1>
      </div>
      <div class="links">
            <ol>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/farms" id="activeLink">Farms</a></li>
                  <li><a href="/products">All Products</a></li>
            </ol>
      </div>
</nav>


<div class="farmContainer">
      <div class="farmInfo">
            <div class="container-one">
                  <h1><%= farm.name %></h1>
                  <h5>            
                        <% if (farm.description) {%>
                        <%= farm.description %>
                        <% } else{%>
                              Farm description not added!!!
                        <% } %>
                  </h5>
                  <div class="contents">
                        <h4>Farm Info:</h4>
                        <h2>Location: <br><span id="mainText"><%= farm.location %></span></h2>
                        <h2>Email: <br><span id="mainText"><%= farm.email %></span></h2>
                  </div>
                  <a href="/farms/<%= farm._id %>/edit"><button>Edit farm</button></a>
                  <div class="deleteBtn">
                        <button id="promptDelete">Delete Farm</button>
                  </div>
            </div>
      </div>
      <div class="products">
            <div class="head">
                  <h1 class="heading"> Products:</h1>
                  <div id="btns-one"> 
                        <a href="<%=farm._id%>/products/add"><button id="addBtn">Add Products</button></a>
                        <a href="/farms"><button>view all Farms</button></a>
                  </div>
                  <% if (!products.length) {%>
                        <h1 id="notFound">No product added yet! please add a product</h1>
                  <%} %>
            </div>
            <% if(products.length){ %>
                  <div class="productContainer">
                        <% for (let product of products){%>
                              <div class="product">
                                    <h1><%= product.name %></h1>
                                    <h2>Price: <span>$<%= product.price %></span></h2>
                                    <a href="/products/<%=product._id%>"><button>View product</button></a>
                              </div>
                        <%} %>
                  </div>
            <% } %>
      </div>
</div>
