<title><%= foundProduct.name %> Info_-Products</title>
<% layout('layouts/boilerplate') %>

<nav>
      <div class="logo">
            <h1>My <span>Farm</span></h1>
      </div>
      <div class="links">
            <ol>
                  <li><a href="/home">Home</a></li>
                  <li><a href="/farms" id="activeLink">Farms</a></li>
                  <li><a href="/products">All Products</a></li>
            </ol>
      </div>
</nav>

<div class="info">
      <%= messages %>
      <h1><%= foundProduct.farm.name %></h1>
      <div class="infoContainer">
            <div class="productInfo">
                  <h1><%= foundProduct.name %></h1>
                  <h2>Price:  <span id="price">$<%= foundProduct.price %></span></h2>
                  <h2>Category: <span><a href="/products?category=<%=foundProduct.category%>"><%= foundProduct.category %></a></span></h2>
            </div>
            <div class="btns">
                  <a href="/products/<%=foundProduct._id%>/edit"><button id="editBtn">Edit</button></a>
                  <form action="/products/<%=foundProduct._id%>?_method=DELETE" method="POST">
                        <button id="deleteBtn">Delete Product</button>
                  </form>
                  <a href="/farms/<%=farmId%>" id="backLink"><<--Back to Farm</a>
            </div>
      </div>
</div>
